
/*GENERAL*/
*,
*::before,
*::after {
  box-sizing: inherit;
}

html{
  box-sizing: border-box;
}

body {
  letter-spacing: 1px;
  background-color: rgb(205, 174, 162);
  font-size: 12px;
  font-family: "Raleway", sans-serif;
  text-align: block;
  letter-spacing: 3px;
  margin: 0;
}

main {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.clear {
  clear: both;
}

ul,
ol {
  list-style: none;
}


/*FONTS*/


h2 {
  letter-spacing: 6px;
  font-size: 100px;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  text-transform: uppercase;
  padding: 50px 20px;
  color: #222222;
}

h3 {
  font-family: "Raleway", sans-serif;
  letter-spacing: 6px;
  text-transform: uppercase;
}

/*preloader*/
#loader {
  height: 100vh;
  width: 100vw;
  background-color: rgb(205, 174, 162);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .9s ease-out 0.3s;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*SCROLL-TO-TOP*/

#scrollToTopButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(232, 195, 185);
  padding: 0;
  border: 0;
  width: 60px;
  height: 60px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
  font-size: xx-large;
  outline: 0;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;

}

#scrollToTopButton.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

/*LIBRARY MOVING WORDS*/

.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

/*NAVIGATION*/

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgb(205, 174, 162);
  overflow-x: hidden;
  transition: 0.5s;
}

.overlay-content {
  position: relative;
  top: 30%;
  width: 100%;
  text-align: center;
  line-height: 2;
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 20px;
  font-family: "Raleway", sans-serif;
  color: #222222 !important;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  opacity: 0.7 !important;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
}

#white-background {
  background-color: white;
}

/* LANDING-PAGE*/
#landing-page {
  transition: ease;
  height: 90vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;

}

#heading {
  text-align: center;
  color: white;
  margin:0;
}

#heading::after{
  content: 'Web development & UI design';
  letter-spacing: 5px;
  text-align: center;
}


#heading h1 {
  color: rgb(249, 221, 211);
  letter-spacing: 5px;
  font-size: 250px; 
  margin-bottom: -30px;
}


#cv-download {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 200px;
}

#cv-download a {
  letter-spacing: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
  color: rgb(249, 221, 211);
}

/*ABOUT ME */
#about-text {
  line-height: 2;
  padding: 20px;
  text-align: center;
  margin-top: 40px;
  font-family: 'Raleway', serif;
  letter-spacing: 3px;
}

#about-text a {
  display: inline-block;
  text-decoration: none;
  color: rgb(97, 112, 86);
  font-size: 12px;
}

.timeline-body a {
  display: inline-block;
  text-decoration: none;
  color: rgb(97, 112, 86);
  font-size: 12px;
}

#about-text a:hover {
  opacity: 0.7;
}

.about-photo img {
  max-width: 100%;
  height: auto;
  padding-top: 100px;
}

/* PORTFOLIO */
.portfolio {
  text-align: center;
  margin-bottom: 100px;
}

#portfolio-heading {
  text-align: center;
}

.portfolio img {
  max-width: 100%;
  height: auto;
  transition: opacity ease-out 250ms;
  opacity: 1;
}

.portfolio-item:hover {
opacity: 0.2;
 }

 .portfolio-img:hover {
    opacity: 0.2;
    } 

.portfolio-text a {
  font-size: 11px;
  font-weight: 900;
  color: white;
  text-decoration: none;
  letter-spacing: 4px;
}
.portfolio-text h3 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  letter-spacing: 4px;
}
.portfolio-text h6 {
  font-size: 11px;
  font-weight: 900;
  color: white;
  letter-spacing: 4px;
}

.portfolio-item {
  max-width: 320px;
  position: relative;
  display: inline-block;
  margin: 40px;
  background: black;
}

.portfolio-item::before,
.portfolio-item::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
  }
  
  .portfolio-item::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0,1);
  }
  
  .portfolio-item::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1,0);
  }
  
  .portfolio-item:hover::before {
    transform: scale(1.05, 1);
  }
  
  .portfolio-item:hover::after {
    transform: scale(1, 1.05);
  }

.portfolio-text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out 250ms;
  font-weight: bold;
}

.portfolio-item:hover .portfolio-text{
  opacity: 1;
}

/*FOOTER*/

footer {
  height: 100vh;
  background-image: url("/images/christina-kirschnerova-FE-B52oCqQs-unsplash.jpg");
  background-size: cover;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  margin: 30px;
  display: inline-block;
}

footer p,
a {
  text-decoration: none;
  font-size: 40px;
  color: rgb(205, 174, 162);
  letter-spacing: 3px;
  display: block;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  text-transform: lowercase;
}

footer h6 {
  letter-spacing: 5px;
  padding: 20px 0;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: rgb(205, 174, 162);
}

#copyright {
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  color: white;
  margin: 0;

}

