
/*GENERAL*/
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  font-size: 16px;
}

body {
  background-color: rgb(205, 174, 162);
  font-family: "Raleway", sans-serif;
}

main {
  width: 100%;
  overflow: hidden;
}

ul,
ol {
  list-style: none;
}


/*FONTS*/

.section_heading{
  text-align: center;
  letter-spacing: 6px;
  text-transform: uppercase;
  font-size: 3em;
}

h1 {
letter-spacing: 5px;
text-transform: uppercase;
margin-top: 70px;
font-size: 4em;
}

/*preloader*/
#loader {
  height: 100vh;
  width: 100vw;
  background-color: rgb(205, 174, 162);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  transition: all .9s ease-out 0.3s;
}

#loader img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/*SCROLL-TO-TOP*/

#scrollToTopButton {
  position: fixed;
  bottom: 40px;
  right: 40px;
  border-radius: 50%;
  cursor: pointer;
  background: rgb(232, 195, 185);
  padding: 0;
  border: 0;
  width: 60px;
  height: 60px;
  box-shadow: 2px 4px 16px rgba(0, 0, 0, 0.3);
  font-size: xx-large;
  outline: 0;
  visibility: hidden;
  transform: scale(0);
  opacity: 0;
  transition: 0.2s;
}

#scrollToTopButton.show {
  visibility: visible;
  transform: scale(1);
  opacity: 1;
}

/*LIBRARY MOVING WORDS*/

.ml16 {
  color: #402d2d;
  padding: 40px 0;
  font-weight: 800;
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 0.5em;
  overflow: hidden;
}

.ml16 .letter {
  display: inline-block;
  line-height: 1em;
}

/*NAVIGATION*/

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links a {
 color: white;
 font-size: 12px;
}

.burger-nav{
  display: none;
}

.burger-nav div {
  width: 30px;
  height: 3px;
  background-color: white;
  margin: 5px;
}

/* LANDING-PAGE*/
#landing-page {
  transition: ease;
  height: 90vh;
  overflow: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}


#heading h1 {
  color: white;
}

#heading {
  text-align: center;
  color: white;
  margin:0;
}



#heading h1::after {
 content: 'Web dévelopment & UI design';
 text-transform: none;
 font-size: 1.2rem;
 display: block;
 margin-top: 25px;
 font-weight: normal;
 color: rgb(70,51,55);
}

#arrow{
  position: absolute;
  bottom: 50px;
  right: 50%;
}


/*INTRODUCTION*/

#section_2{
  display: flex;
  flex-direction: column;
  background-image: url(/images/bg.svg);
  background-size: cover;
  justify-content: center;
  align-items: center;
  padding-top: 25em;
  font-size: 0.75rem;
}

#introduction_1{
  padding: 5em;
  text-align: center;
}

#introduction_1 p{
  padding-top: 5em;
  
}
#introduction_2{
  padding: 5em 5em 15em 5em;
  text-align: center;
}

button {
  padding: 0.75em 2.5em;
  text-decoration: none;
  display: inline-block;
  background-color: rgb(205, 174, 162);
  border-radius: 5px;
  border: none;
  width: 100%;
  padding: 20px 35px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  
}

/* COMPETENCES */

#competences{
display: flex;
height: 100vh;
}

/*ABOUT ME */

#about{
  background-color: white;
}
#about-text {
  line-height: 2;
  padding: 40px;
  text-align: center;
  margin-top: 40px;
  letter-spacing: 3px;
  font-size: 0.6rem;
}

#about-text a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 0.75rem;
}

.timeline-body a {
  display: inline-block;
  text-decoration: none;
  color: black;
  font-size: 0.6rem;
}

#about-text a:hover {
  opacity: 0.7;
}

.about-photo img {
  max-width: 100%;
  height: auto;
}

/* PORTFOLIO */
.portfolio {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
}

#portfolio-heading {
  text-align: center;
}

.portfolio img {
  max-width: 100%;
  height: auto;
  transition: opacity ease-out 250ms;
  opacity: 1;
}

.portfolio-item:hover {
opacity: 0.2;
 }

 .portfolio-img:hover {
    opacity: 0.2;
    } 

.portfolio-text a {
  font-size: 11px;
  font-weight: 900;
  color: white;
  text-decoration: none;
  letter-spacing: 4px;
}
.portfolio-text h3 {
  font-size: 20px;
  font-weight: 900;
  color: white;
  letter-spacing: 4px;
}
.portfolio-text h6 {
  font-size: 11px;
  font-weight: 900;
  color: white;
  letter-spacing: 4px;
}

.portfolio-item {
  position: relative;
  margin: 40px;
  background: black;
  width: fit-content;
}

.portfolio-item::before,
.portfolio-item::after {
    content: '';
    position: absolute;
    top: 1.25em;
    bottom: 1.25em;
    left: 1.25em;
    right: 1.25em;
    opacity: 1;
    transition: transform ease-out 250ms;
  }
  
  .portfolio-item::before {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    transform: scale(0,1);
  }
  
  .portfolio-item::after {
    border-left: 1px solid white;
    border-right: 1px solid white;
    transform: scale(1,0);
  }
  
  .portfolio-item:hover::before {
    transform: scale(1.05, 1);
  }
  
  .portfolio-item:hover::after {
    transform: scale(1, 1.05);
  }

.portfolio-text {
  position: absolute; 
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity ease-out 250ms;
  font-weight: bold;
}

.portfolio-item:hover .portfolio-text{
  opacity: 1;
}

/* SLOGAN */
#cv-download {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
}

#cv-download a {
  letter-spacing: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 150px;
  color: rgb(249, 221, 211);
}

    /*CONTACT*/


  #contact {
   padding: 50% 5em;
   background-image: url(/images/bg_contact.svg);
   background-size: cover; 
  }

 #contact-heading {
   text-align: center;
  }

.contact-container {
      font-size: 12px;  
  }

  #contact-heading ul {
      text-align: center;
  }

  #contact-heading li {
      display: inline-block;
      text-decoration: none;
      margin-right: 30px;
      font-size: 20px;
  }


  input {
      line-height: normal;
  }

  textarea {
      overflow: auto;
  }

  form {
      padding: 37.5px;
      margin: 10px 0;
      text-align: center;
  }

  .email {
      float: right;
      width: 45%;
  }

  input[type="text"],
  [type="email"],
  select,
  textarea {
      background: none;
      border: none;
      border-bottom: solid 1px black;
      color: black;
      font-size: 1em;
      font-weight: 400;
      letter-spacing: 1px;
      margin: 0em 0 1.875em 0;
      padding: 0 0 0.875em 0;
      text-transform: uppercase;
      width: 100%;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -ms-box-sizing: border-box;
      -o-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }

  input[type="text"]:focus,
  [type="email"]:focus,
  textarea:focus {
      outline: none;
      padding: 0 0 0.875em 0;
  }

  .message {
      float: none;
  }

  .name {
      float: left;
      width: 45%;
  }

  .telephone {
      width: 100%;
  }

  textarea {
      line-height: 150%;
      height: 150px;
      resize: none;
      width: 100%;
  }

  ::-webkit-input-placeholder {
      color: #474544;
  }

  :-moz-placeholder {
      color: #474544;
      opacity: 1;
  }

  ::-moz-placeholder {
      color: #474544;
      opacity: 1;
  }

  :-ms-input-placeholder {
      color: #474544;
  }

  #form_button {
      background: none;
      border: solid 2px #474544;
      color: #474544;
      cursor: pointer;
      display: inline-block;
      font-size: 0.875em;
      font-weight: bold;
      outline: none;
      padding: 20px 35px;
      text-transform: uppercase;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      -ms-transition: all 0.3s;
      -o-transition: all 0.3s;
      transition: all 0.3s;
  }

  #form_button:hover {
      background: #474544;
      color: #f2f3eb;
  }

  a {
      text-decoration: none;
      /* takes away lined text*/
      color: black;
  }

  a:hover {
      text-decoration: none;
      color: rgb(46, 109, 125);
  }

  

/*FOOTER*/

footer {
 
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-wrapper {
  margin: 30px;
  display: inline-block;
}

footer p,
a {
  text-decoration: none;
  letter-spacing: 3px;
  display: block;

}

footer h6 {
  letter-spacing: 5px;
  padding: 20px 0;
  font-size: 50px;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  color: rgb(205, 174, 162);
}

#copyright {
  font-size: 15px;
  font-weight: 500;
  text-align: right;
  color: white;
  margin: 0;

}

/* MEDIA QUERIES */

@media screen and (max-width: 768px){

  body{
    overflow-x: hidden;
  }
  .nav-links{
    position: absolute;
    right: 0;
    height: 92vh;
    top: 8vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: trasnlateX (100%);
    background-color: rgb(205, 174, 162);
    transition: transform 0.5s ease-in;
  }

  .nav-links li{
    opacity: 0;
  }

  .burger-nav{
    display: block;
    cursor: pointer;
  }
  nav-active{
    transform: translateX(0%);
  }
}

@media only screen and (min-width: 100px){
  #section_2{
    flex-direction: row;
    flex: 50%;
}
}


